.App {
  text-align: center;
  margin: 80px;
}

table{
  border-radius: 5px !important;
  border-collapse: separate;
  border-spacing: 0 10px !important;
  font-weight: 700;

}

table thead{
  background-color: rgb(0, 69, 137);
  color: white;
}

tbody, td, th{
  border: 0px !important;
  padding: 15px !important;
}

tbody tr{
  background-color:  rgb(239, 244, 248) !important;
  border-top: 2px solid white !important;
  border-bottom: 2px solid white !important;
  border-radius: 20px !important;
}

tbody tr:hover{
  background-color: rgb(198, 226, 218) !important;
  cursor: pointer;
}

tbody tr .selected{
  background-color: rgb(192, 228, 218) !important;
}

td:first-child,
th:first-child {
  border-radius: 5px 0 0 5px;
}

td:last-child,
th:last-child {
  border-radius: 0 5px 5px 0;
}